/* CUSTOM CSS GOES IN THIS FOLDER */

.text-centered {
	text-align: center;
}

.left-buffer{
	margin-left: 20px;
}
.right-buffer{
	margin-right: 20px;
}
.top-buffer{
	margin-top: 20px;
}

svg{
	border: solid #ccc 1px; 
	width: 100%;
}

#svgGraph{
	height: 500px;
}

#svgState{
	height: 500px;
}

#svgMetro{
	height: 500px;
}

path.country { fill: #ccc; stroke: #888; }

/* buttons */

button#Murder{
	background-color: #fea3aa;
}

button#Rape{
	background-color: #f8b88b;
}

button#Assault{
	background-color: #faf884;
}

button#Robbery{
	background-color: #b2cefe;
}

button#Burglary{
	background-color: #baed91;
}

button#Larceny{
	background-color: #f2a2e8;
}

button#Theft{
	background-color: #b19cd9;
}

