/* CUSTOM CSS GOES IN THIS FOLDER */
.container {
	padding: 0px;
/*	margin: 5px;*/
}

.text-centered {
	text-align: center;
}

.left-buffer{
	margin-left: 20px;
}
.right-buffer{
	margin-right: 20px;
}
.top-buffer{
	margin-top: 20px;
}
.bottom-buffer{
	bottom-top: 50px;
}
.narrow-padding{
	padding-left: 2px;
	padding-right: 2px;
	margin-bottom: 100px;
}

svg{
	width: 100%;
}

#svgGraph{
	border: solid #ccc 1px;
	height: 500px;
}

#svgState{
	height: 500px;
}

#svgMetro{
	height: 500px;
}
#legend{
	width: 100px;
	height: 200px;
	border: solid #ccc 1px;
}

path.country:hover {
	stroke: yellow;
	stroke-width: 5;
}

path.country.selected {
	stroke: yellow;
	stroke-width: 5;
}

path.country { 
	fill: #ccc; 
	stroke: #888;
}



/* grid lines */
.grid line {
  stroke: lightgrey;
  stroke-opacity: 0.7;
  shape-rendering: crispEdges;
}

.grid path {
  stroke-width: 0;
}


/* buttons */

button:hover {
	opacity: 0.5;
}

button#Murder{
	background-color: #ee4035;
}

button#Rape{
	background-color: #f37736;
}

button#Assault{
	background-color: #fdf498;
}

button#Robbery{
	background-color: #7bc043;
}

button#Burglary{
	background-color: #0392cf;
}

button#Larceny{
	background-color: #f2a2e8;
}

button#MotorVehicleTheft{
	background-color: #b19cd9;
}

circle {
	pointer-events: none;
}

/* tooltips */
div.tooltip {	
    position: absolute;			
    text-align: center;			
    width: auto;					
    height: 28px;					
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 2px;
    padding-bottom: 2px;				
    font: 12px sans-serif;		
    background: lightsteelblue;	
    border: 0px;		
    border-radius: 8px;			
    pointer-events: none;			
}
